[Unit]
Description=Stat Tracker

[Service]
ExecStart=/var/www/stats_tracker/server.js
Restart=always
User=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/stats_tracker

[Install]
WantedBy=multi-user.target
