<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X6WG4WYMSV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-X6WG4WYMSV');
    </script>
    <meta charset="UTF-8" />
    <title>Painless Prototyping Theme COntest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700|Nanum+Gothic+Coding"
        rel="stylesheet" />
    <meta property="og:url" content="https://themecontest.painlessprototyping.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Painless Prototyping Theme Contest" />
    <meta property="og:description" content="Design your own theme for a chance to win it!" />
</head>

<body>
    <div id="root"></div>
</body>

</html>