<html>
<head>
	<title>ReactJS Basics</title>
</head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>
<!-- import bundled js -->

<div id = "app"></div>
<script>
    var flickrJsonData = {{flickrJsonData|safe}};
</script>   
<script type="text/javascript" src = "{{url_for('static', filename='js/bundle.js')}}"></script>
</body>
</html>
